.form {
  width: 100%;
  display: flex;

  .input {
    background-color: var(--background-color);
    width: 100%;
    border: none;
    outline: none;
    border: 3px solid var(--primary-color);
    padding-block: 1rem;
    padding-inline: 2rem;
    color: var(--text-color);
    font-size: 1.25rem;

  }
}
